::selection{
    color: white;
    background: black;

}

@font-face {
    font-family: Kilo;
    src: url("../fonts/Kilo.otf") format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url("../img/system/bg.png");
    background-repeat: no-repeat;
    overflow: hidden;
}

.root{
    display: none;
    flex-direction: row;
    height: 100%;
    position: relative;
    width: 100%;
}

.content{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.wrapper-left-area{
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 60%;
    min-width: min-content;
    max-width: 90%;
}

.group-navbar-main{
    display: flex;
    height: 100%;
    width: 100%;
}

.main-content {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
}

button{
    cursor: pointer;
}