*{
    font-family: "MS UI Gothic", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    left: 0;
    top: 0;
    min-height: 100vh;
    display: flex;
    background-color: #f5f5f5;
    padding-bottom: 20px;
}

main {
    width: 100%;
    margin-top: 115px;
    margin-left: 270px;
    display: flex;
}
.table-tabs{

    width: max-content;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
}
th,td{
    padding: 20px 20px 20px 40px;
}

th {
    text-align: left;
    color: #0470e3;
    font-size: 14px;
}

thead{
    background: #3d5a9c;

}

.table-value{
    background: #f1f1f1;
}

.add-user{
    height: 500px;
    margin-left:auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    background: white;
}

.add-user-text{
    background: rgb(122,170,224);
    background: linear-gradient(0deg, rgba(122,170,224,1) 0%, rgba(98,141,189,1) 100%);
    padding: 10px;
    text-align: center;
}

.add-user-form{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.user-option-field{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.user-option-field input{
    height: 30px;
    outline: none;
    padding-left: 5px;
}

select{
    height: 30px;
    cursor: pointer;
}

.input-text{
    padding-bottom: 5px;
}

/*.button-add-manager{*/
/*
/*    height: 30px;*/
/*    width: 50%;*/
/*}*/

.button-add-manager {
    text-align: center;
    margin: 20px auto;
    touch-action: manipulation;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    background-color: #f0f7fa;
    box-shadow: inset 0 -4px 8px #87bfd8, 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #0470e3;
    transition: transform 0.4s cubic-bezier(0.55, 1, 0.15, 1);
    will-change: transform;
}

.button-add-manager:active {
    transform: scale(0.98);
}
.button-add-manager:active::after {
    opacity: 1;
}
