<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Forbidden</title>
    <link th:href="@{/css/error-forbidden.css}" rel="stylesheet" type="text/css" >
</head>
<body>
<div class="error">
    <div class="text">
        <p>YOUR ANGELS</p>
        <p>ARE PROTECTING YOU</p>
        <p>everything will be OKAY!</p>
        <p>!!You are LOVED and SAFE!!</p>
    </div>
    <div class="buttons">
        <a href="#">CLICK to apologize!</a>
        <a href="#">CLICK to be safe!</a>
        <a href="#">CLICK to forget!</a>
        <a href="#">CLICK to be pure!</a>
    </div>
</div>
</body>
</html>