<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>header</title>
</head>
<header class="header" th:fragment="header">
    <div class="header-logo-name">
        <div class="header-logo">
            <img th:src="@{/img/system/logo.png}" alt="">
        </div>

        <div class="header-name">
            <span class="top-part">Fall of Icarus</span>
            <span class="bot-part">angels-heaven dot com</span>
        </div>
    </div>

    <section class="search-account">
        <div class="search">
            <span class="search-bar-text">Search</span>
            <label>
                <input class="search-bar" type="text">
            </label>
            <button class="search-bar-button">
                <span>Go</span>
            </button>
        </div>

        <section class="account">
            <div class="greetings-text-nav-buttons">
                <div class="greetings-text" th:text="'Hi, ' + ${#authentication.principal.getUsername()}"></div>
                <div class="nav-buttons">
                    <a href="/settings">
                        <span>settings</span>
                    </a>
                    <span>-</span>
                    <a href="/logout">
                        <span>logout</span>
                    </a>
                </div>
            </div>
            <hr class="vertical-separator">

            <img th:src="@{/img/users-avatars/1.jpg}" alt="">
        </section>
    </section>
</header>
</html>