<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/root.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="root">
    <nav th:replace="~{elements/header:: header}"></nav>
    <div class="wrapper">
        <nav th:replace="~{elements/navbar:: navbar-left}"></nav>
        <nav th:replace="~{elements/navbar:: navbar-right}"></nav>
        <main>
        </main>
    </div>
</div>
</body>
</html>