<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>header</title>
</head>
<nav class="sidebar" th:fragment="sidebar">
        <ul class="sidebar-items">
            <li class="sidebar-item">
                <a href="#">
                    <span>База</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#">
                    <span>Документы</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#">
                    <span>Статистика</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#">
                    <span>Логи</span>
                </a>
            </li>
        </ul>
</nav>
</html>