<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>users</title>
<!--    <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" >-->
    <link th:href="@{/css/users.css}" rel="stylesheet" type="text/css" >
<!--    <link th:href="@{/css/sidebar.css}" rel="stylesheet" type="text/css" >-->
</head>
<body>
<!--<header th:replace="~{header :: header}"></header>-->
<!--<nav th:replace="~{sidebar :: sidebar}"></nav>-->
<main>
    <section class="table-header">

    </section>

    <section class="table-tabs">
        <table>
            <thead>
                <tr>
                    <th>Роль</th>
                    <th>Логин</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                        <td class="table-value" th:text="${user.getRole()}"></td>
                        <td class="table-value" th:text="${user.getUsername()}"></td>
                        <td class="table-value" th:text="${user.getFirstName()}"></td>
                        <td class="table-value" th:text="${user.getLastName()}"></td>
                    <td>
                        <form action="/users/delete" method="post">
                            <input type="hidden" name="id" th:value="${user.id}"/>
                            <input type="hidden" name="action" value="delete"/>
                            <button class="button-delete-user" type="submit">Delete</button>
<!--                            <i th:replace="~{icons :: icon-delete}"></i>-->
<!--                            <i th:replace="~{icons :: icon-edit}"></i>-->
                        </form>
                    </td>
            </tr>
            </tbody>
        </table>
    </section>

    <section class="add-user">
        <div class="add-user-text">
            <span >Добавить пользователя</span>
        </div>

        <form class="add-user-form" action="/users/add" method="post">
            <label class="user-option-field">
                <span class="input-text">Логин</span>
                <input name="username" required/>
            </label>

            <label class="user-option-field">
                <span class="input-text">Имя</span>
                <input name="firstName"/>
            </label>

            <label class="user-option-field">
                <span class="input-text">Фамилия</span>
                <input name="lastName"/>
            </label>

            <label class="user-option-field">
                <span class="input-text">Пароль</span>
                <input name="password"/>
            </label>

            <label class="user-option-field">
                <span class="input-text">Роль</span>
                <select name="role">
                    <option th:each="roleOpt : ${T(com.nerv.crm.model.Role).values()}"
                            th:value="${roleOpt}" th:text="${roleOpt.name()}"></option>
                </select>
            </label>

            <button class="button-add-manager" type="submit">Добавить</button>
        </form>
        <span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>
    </section>
</main>
</body>
</html>